.platforms {
    text-align: center;
    padding-bottom: 50px;

    p {
        padding: 0px 17px 17px 17px;
    }

    .first-logo {
        margin-right: 20px;
        cursor: pointer;
    }

    .second-logo {
        cursor: pointer;
    }
}